fastapi==0.104.1
uvicorn[standard]==0.24.0

# ML
ultralytics==8.0.196
torch==2.5.1+cpu
torchvision==0.20.1+cpu

# Image + upload
pillow>=9.5.0,<10.0.0
python-multipart==0.0.6

# PyTorch CPU wheels
--extra-index-url https://download.pytorch.org/whl/cpu
